In [1]:
import pandas as pd, json, numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [36]:
from pygeocoder import Geocoder
apik='AIzaSyDybC2OroTE_XDJTuxjKruxFpby5VDhEGk'

In [37]:
dfs=pd.read_html('https://en.wikipedia.org/wiki/List_of_countries_by_national_capital,_largest_and_second-largest_cities')

In [38]:
dfs[1][210:230]

,0,1,2,3,4
210,Slovakia,Bratislava,Košice,[197],NaN
211,Slovenia,Ljubljana,Maribor,[198],NaN
212,Solomon Islands,Honiara,Gizo,[199],NaN
213,Somalia,Mogadishu,Hargeisa,NaN,NaN
214,South Africa,Pretoria,Cape Town[Note 4],Durban,[200] [201]
215,Johannesburg,Cape Town[Note 4],NaN,NaN,NaN
216,South Georgia and the South Sandwich Islands (UK),King Edward Point,Grytviken,[202],NaN
217,South Ossetia (Georgia),Tskhinvali,Akhalgori,NaN,NaN
218,South Sudan,Juba,Yei,NaN,NaN
219,Spain,Madrid,Barcelona,[203],NaN
220,Sri Lanka,Sri Jayawardenepura Kotte,Colombo,Dehiwala-Mount Lavinia,[204] [205]
221,Kandy,NaN,NaN,NaN,NaN
222,Sudan,Khartoum,Omdurman,Khartoum,[206] [207]
223,Khartoum,Port Sudan,NaN,NaN,NaN
224,Suriname,Paramaribo,Lelydorp,[208],NaN
225,Svalbard and Jan Mayen (Norway),Longyearbyen,Barentsburg,[209],NaN
226,Swaziland,Mbabane,Manzini,Mbabane,[210]
227,Sweden,Stockholm,Gothenburg,[211],NaN
228,Switzerland,Bern,Zürich,Geneva,[212]
229,Syria,Damascus,Aleppo,Damascus,[213] [214]

In [47]:
def repl(s):
    return s.replace('[Note 1]','').replace('[Note 2]','').replace('[Note 3]','').replace('[Note 4]','').replace('[Note 5]','')

In [50]:
countries={}
country=''
for i in dfs[1][4:].T.iteritems():
    if ('nan' == repr(i[1][2])):
        countries[country]['cities'].append(repl(i[1][0]))
        if ('nan' != repr(i[1][1])):
            countries[country]['cities'].append(repl(i[1][1]))
    else:
        country=repl(i[1][0])
        if country not in countries:countries[country]={'capital':'','cities':[]}
        countries[country]['capital']=repl(i[1][1])
        countries[country]['cities'].append(repl(i[1][2]))
        if not (('[' in repr(i[1][3])) or ('nan' == repr(i[1][3]))):
            countries[country]['cities'].append(repl(i[1][3]))

In [51]:
for c in countries:
    countries[c]['cities']=list(set(countries[c]['cities']))

In [57]:
pd.DataFrame(countries).T.to_excel('capitals.xlsx')

In [62]:
coords=[]
for embassy in ["Austria","Australia"]:
    for host in ["Austria","Australia"]:
        print 'Embassy of '+embassy+' in '+countries[host]['capital']+', '+host
        #for consulate in countries[host]['cities']:
        #    print 'Consulate of '+embassy+' in '+consulate+', '+host

Embassy of Austria in Vienna, Austria
Embassy of Austria in Canberra, Australia
Embassy of Australia in Vienna, Austria
Embassy of Australia in Canberra, Australia

In [ ]:
for c in SC:
    print c,
    #country not parsed yet
    for i in SC[c]:
        if cluster[i] not in clustercoords:
            print cluster[i],
            z=cluster[i]+', '+c
            try: clustercoords[cluster[i]]=Geocoder(apik).geocode(z)
            except: cerror.append(cluster[i])
        if i not in citycoords:
            print i,
            x=i+' airport, '+cluster[i]+', '+c
            try: citycoords[i]=Geocoder(apik).geocode(x)
            except: error.append(i)
    print